{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 100,
    "singleAttributePerLine": true
}
